<div class="banner mb-3">
  <div class="container">
    <h1 class="fw-bold fs-1"><strong>WATCH LIST</strong></h1>
    <p>Save your movies to watch them latter!</p>
    <%= link_to "New List", new_list_path, class: "btn btn-danger mt-2 text-light" %>
  </div>
</div>
<div class="container">
  <% @lists.each do |list| %>
    <%= link_to list_path(list), class: "text-decoration-none text-white" do %>
      <div class="d-flex flex-row justify-content-start align-items-center list-link mt-3">
        <h1 class="pe-3 mb-0"><%= list.name %> </h1>
        <i class="fa-solid fa-list-ul fs-4"></i>
      </div>
    <% end %>
    <% if list.movies.any? %>
      <div id="card-slider" class="splide mb-3" data-controller="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <% list.movies.each do |movie| %>
              <li class="splide__slide">
                <div class="card">
                  <img src="<%= movie.poster_url %>" alt="<%= movie.title %>">
                  <div class="background"></div>
                  <p><%= movie.title %></p>
                  <%#= link_to movie_path(movie)  %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
